@model System.Collections.Generic.IEnumerable<Repository.Models.Pastery>

<ul class="small-block-grid-4">
@foreach (var item in Model)
{
    <li id="@item.ID"><a href="/Pastery/View/@item.ID">
        <img src="@item.ImageLink"  style="width:300px; height:350px"/>
        <h5>@item.Name</h5>
        <p>@item.Price$</p></a>
        <button class="btn btn-default add-to-cart">+</button>
     </li>
}
</ul>
